<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ config.name }}</title>

    <link rel="icon" type="image/png" href="{{ config.websiteUrl }}/resources/img/logo.png">
    <link rel="shortcut icon" type="image/png" href="{{ config.websiteUrl }}/resources/img/logo.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="img-fluid navbar-logo" src="/resources/img/logo-text.png" id="navbar-logo" style="margin: 0.3rem;">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarButtons"
                aria-controls="navbarButtons"
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="navbar-collapse collapse" id="navbarButtons">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-orange navbar-btn" href="/places">
                                <i class="fas fa-image"></i>&nbsp;
                                Places to Visit
                            </a>
                        </div>
                    </li>
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-pink navbar-btn" href="/find-hotels">
                                <i class="fas fa-hotel"></i>&nbsp;
                                Find Hotels
                            </a>
                        </div>
                    </li>
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-primary navbar-btn" href="https://starofmysore.com/category/feature-articles/">
                                <i class="fas fa-newspaper"></i>&nbsp;
                                Articles
                            </a>
                        </div>
                    </li>
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-danger navbar-btn" href="/restrictions-lockdown">
                                <i class="fas fa-bus"></i>&nbsp;
                                Transport
                            </a>
                        </div>
                    </li>
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-warning navbar-btn" href="/restrictions-lockdown">
                                <i class="fas fa-exclamation-triangle"></i>&nbsp;
                                Restrictions & Lockdown
                            </a>
                        </div>
                    </li>
                    <li style="margin: 0.3rem;">
                        <div class="btn-nav">
                            <a class="btn btn-outline-success navbar-btn" href="/about">
                                <i class="far fa-info-circle"></i>&nbsp;
                                About
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselIndicators" class="carousel slide mr-2" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for place in topPlaces %}
                            <div class="carousel-item {% if not place.index %} active{% endif %} dark-background">
                                <img class="d-block w-100 carousel-dark-image" src="/resources/img/places/{{ place.thumbnail }}" alt="{{ place.name }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h2 class="carousel-text">{{ place.name }}</h2>
                                    <p class="carousel-text">
                                        {{ place.description }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outer">
                    <h1 class="card-header text-uppercase" id="placesToVisit">
                        <i class="fas fa-image"></i>&nbsp; Places to Visit
                    </h1>
                    <div class="card-body">
                        <div class="row">
                            {% for place in topPlaces %}
                                <div class="col-md-4">
                                    <div class="card image-card">
                                        <img src="/resources/img/places/{{ place.thumbnail }}" class="card-img-top" alt="{{ place.name }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ place.name }}</h5>
                                            <p class="card-text">{{ place.description }}</p>
                                            <a href="/place/{{ place.placeId }}" class="btn btn-link">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div style="text-align: center;">
                            <a class="btn btn-outline-orange text-uppercase" href="/places" style="font-size: 150%">
                                <i class="fas fa-arrow-down"></i>
                                View All
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outer">
                    <h1 class="card-header text-uppercase" id="hotels">
                        <i class="fas fa-hotel"></i>&nbsp; Hotels
                    </h1>
                    <div class="card-body">
                        <div class="row">
                            {% for hotel in topHotels %}
                                <div class="col-md-4">
                                    <div class="card image-card">
                                        <img src="/resources/img/hotels/{{ hotel.thumbnail }}" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ hotel.name }}</h3>
                                            <p class="card-text hotel-text">
                                                <strong>
                                                    <i class="fas fa-money-bill-wave"></i>
                                                    Starting from <span class="price-span">₹{{ hotel.price.replace("&#8377;", "") }}</span>!
                                                </strong><br>
                                                <strong>
                                                    <i class="fas fa-star"></i>&nbsp; Rating:
                                                </strong>&nbsp;{{ hotel.rating }}/5 Stars
                                                <br>
                                                <strong>
                                                    &nbsp;<i class="fas fa-map-marker-check"></i>
                                                    &nbsp;Address:
                                                </strong>
                                                <span>{{ hotel.address[:20] }}...</span>
                                                <br>
                                            </p>
                                            <a href="/hotels/{{ hotel.hotelId }}" class="btn btn-link">More Info</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div style="text-align: center;">
                            <a class="btn btn-outline-pink text-uppercase" href="/find-hotels" style="font-size: 150%">
                                <i class="fas fa-arrow-down"></i>
                                View More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outer">
                    <h1 class="card-header text-uppercase" id="articles">
                        <i class="fas fa-newspaper"></i>&nbsp; Articles
                    </h1>
                    <div class="card-body">
                        <div class="row">
                            {% for article in topArticles %}
                                <div class="col-md-4">
                                    <div class="card image-card">
                                        <img src="/get-image/{{ article.thumbnail }}" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ article.name }}</h3>
                                            <p class="card-text">
                                                {{ article.description[:130] }}...
                                            </p>
                                            <a href="{{ article.link }}" class="btn btn-link" target="_blank">
                                                Read Article
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div style="text-align: center;">
                            <a class="btn btn-outline-primary text-uppercase" href="/articles" style="font-size: 150%">
                                <i class="fas fa-arrow-down"></i>
                                View All
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-div">
            <span class="grey-text">&copy; 2020</span>
            <a href="/">Mysuru Tourism</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <script src="/resources/js/index.js"></script>
</body>
</html>